
  <div class="letter-pad col-md-6">
    <div class="letter-box col-md-12">
      <%= form_for @letter, :class => "form-horizontal" do |f| %>

        <div class="form-group" id="letter-date">
          <%= f.text_field :posted_on, :class =>"datepicker form-control", :placeholder => Time.now.strftime("%B %e, %Y") %>
        </div>

        <div class="form-group">
        <%= f.text_field :title, :class => "form-control", :placeholder => "Title" %>
        </div>

        <div class="form-group" id="letter-contents">
          <%= f.text_area :content, :class => "form-control", :placeholder => "Say something"  %>
        </div>

        <%= f.text_field :baby_id, :value => @letter.baby_id, :hidden => true %>
        <div>
          <%= f.submit "Save Letter", :class => "btn btn-primary btn-raised" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
