<%= form_for @baby, :html => {:multipart => true} do |f| %>
  <% if @baby.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@baby.errors.count, "error") %> prohibited this baby from being saved:</h2>

      <ul>
      <% @baby.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>Congratulations!</h1>
  <p>Please take a moment to create your baby's birth accouncement.  Don't worry, if there's anything unconfirmed, you can always come back and edit this.</p>

    <p>
      <label>My Avatar</label>
      <%= image_tag(@baby.avatar_url) if @baby.avatar? %>
      <%= f.file_field :avatar %>
      <%= f.hidden_field :avatar_cache %>
    </p>

    <p>
    <label>
      <%= f.check_box :remove_avatar %>
      Remove avatar
    </label>
  </p>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br>
    <%= f.date_select :birthday %>
  </div>
  <div class="field">
    <%= f.label :length %><br>
    <%= f.number_field :length %>cm
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>kg
  </div>
  <div class="field">
    <p>It's a:</p>
    <%= radio_button :baby, :gender, :boy %>Boy
    <%= radio_button :baby, :gender, :girl %>Girl
    <%= radio_button :baby, :gender, :surprise %>Surprise!

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
