<h1>My Family</h1>
  <div class="row">
    <% @my_babies.each do |baby| %>
      <div class="profile-container col-xs-12 col-sm-6">
        <div class="baby-container">
          <%= link_to baby do %>
            <%= image_tag baby.avatar_url, {:class => "avatar"} %>
          <% end %>
          <div class="profile-details-container">
            <h2><%= baby.name %></h2>
            <p>Birthday: <%= baby.birthday %></p>
            <p>Birth length: <%= baby.length %></p>
            <p>Birth weight: <%= baby.weight %></p>
            <p>Gender: <%= baby.gender %></p>

            <p><%= link_to 'Edit', edit_baby_path(baby) %> | <%= link_to 'Remove', baby, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          </div>
        </div>
      </div>
    <% end %>
  <%= link_to 'New Baby', new_baby_path %>
  </div>