<p id="notice"><%= notice %></p>

<%= image_tag @baby.avatar_url, {:class => "avatar"} %>

<p>
  <strong>Name:</strong>
  <%= @baby.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @baby.birthday %>
</p>

<p>
  <strong>Length:</strong>
  <%= @baby.length %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @baby.weight %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @baby.gender %>
</p>


<%= link_to 'Edit', edit_baby_path(@baby) %> |
<%= link_to 'Back', babies_path %>
