<div class="container" >
  <div class="row ">

      <ul class="timeline">

        <li class="time-label">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1 id="baby-name-title"><%= @baby.name %>'s Capsule</h1>
            </div>
          </div>

          <br />

          <!-- Capsule Avatar and Title -->
          <div class="col-xs-12 col-md-4">
            <%= image_tag @baby.avatar_url.to_s, {:class => "timeline-avatar center-block img-responsive"} %>
          </div>

          <div class="list-group baby-info-container col-xs-12 col-md-8" id="photo_count">
            <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="mdi-image-photo"></i>
                </div>
                <div class="row-content">
                    <div class="action-secondary"><i class="mdi-material-info"></i></div>
                    <h4 class="list-group-item-heading">NO. OF PHOTOS</h4>
                    <h4 class="list-group-item-text"><%= @baby.photos.count %></h4>
                </div>
            </div>

            <div class="list-group-separator"></div>

            <div class="list-group-item">
                <div class="row-action-primary">
                    <i class="mdi-maps-local-post-office"></i>
                </div>
                <div class="row-content">
                    <div class="action-secondary"><i class="mdi-material-info"></i></div>
                    <h4 class="list-group-item-heading">NO. OF LETTERS</h4>
                    <h4 class="list-group-item-text"><%= @baby.letters.count %></h4>
                </div>
            </div>
          </div>


          <!-- End Avatar and Title -->

          <br />
        </li>

      <!-- Image Uploader -->
        <div class="row">
          <div class="polaroid form-group col-xs-12 col-sm-2 col-md-offset-1">
            <%= form_for @photo do |f| %>
              <%= f.file_field :image %>
              <input id="photo_baby_id" name="photo[baby_id]" type="hidden" value="<%= @photo.baby_id %>">
              <%= f.submit "Upload", :class => "btn btn-primary btn-raised letter-submission" %>
            <% end %>
          </div>
      <!-- End image uploader -->


        <div class="letter-pad col-md-6">
          <div class="letter-box col-md-12">
            <%= form_for @letter, :class => "form-horizontal" do |f| %>

              <div class="form-group" id="letter-date">
                <%= f.text_field :posted_on, :class =>"datepicker form-control", :placeholder => Time.now.strftime("%B %e, %Y") %>
              </div>

              <div class="form-group">
              <%= f.text_field :title, :class => "form-control", :placeholder => "Title" %>
              </div>

              <div class="form-group" id="letter-contents">
                <%= f.text_area :content, :class => "form-control", :placeholder => "Say something"  %>
              </div>

              <%= f.text_field :baby_id, :value => @baby.id, :hidden => true %>
              <div>
                <%= f.submit "Submit Letter", :class => "btn btn-primary btn-raised" %>
              </div>
            <% end %>
          </div>

        </div>
        </div>

        <li class="time-label">
          <h2>Year <%= Time.now.year %></h2>
        </li>

        <% @timeline_media.sort.reverse.each do |date, mediaArray| %>

          <% if mediaArray.count { |media| media.is_a? Photo } > 0 %>
            <li>
              <i class="fa fa-camera bg-purple"></i>
              <div class="timeline-item images-container">
                  <span class="time"><i class="fa fa-clock-o"></i><%= date.strftime("%B %e, %Y") %></span>
                  <div class="timeline-body">
                    <% mediaArray.select { |media| media.is_a? Photo }.each do |media| %>
                      <%= image_tag media.image_url(:thumb).to_s, {:class => "well margin"} %>
                    <% end %>
                  </div>
              </div>

              <div class='timeline-footer'>
              </div>
            </li>
          <% end %>

          <% mediaArray.select { |media| media.is_a? Letter }.each do |media| %>

            <li>
              <i class="fa fa-envelope bg-blue"></i>
              <div class="timeline-item letter-preview">

                <span class="time"><i class="fa fa-clock-o"></i><%= media.created_at.strftime("%B %e, %Y") %></span>
                <h3 class="timeline-header"><a href="#"><%= media.title %></a></h3>
                <div class="timeline-body">
                    <%= media.content %>
                </div>
                <div class='timeline-footer'>
                  <%= link_to edit_letter_path(media) do %>
                    <button class="letter-buttons glyphicon glyphicon-pencil" type="letter-buttons">
                    </button>
                  <% end %>

                  <%= link_to media, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <button class="letter-buttons glyphicon glyphicon-trash" type="letter-buttons">
                    </button>
                  <% end %>
                </div>
              </div>
            </li>

          <% end %>

        <% end %>

        <li>
          <i class="fa fa-envelope bg-blue"></i>
          <div class="timeline-item images-container">

            <span class="time"><i class="fa fa-clock-o"></i><%= @baby.created_at.strftime("%B %e, %Y") %></span>
            <h3 class="timeline-header"><a href="#">Welcome!</a></h3>
            <div class="timeline-body">
                <%= @baby.name %> was born on <%= @baby.birthday %> at <%= @baby.weight %>kg and <%= @baby.length %>cm.
            </div>
            <div class='timeline-footer'>
              <%= link_to 'Click here to Edit Baby\'s Info', edit_baby_path(@baby) %>
            </div>
          </div>
        </li>

      </ul>

  </div>
</div>

<% content_for :js_after do %>
  <script>
    $(document).ready(function() {

      $('.datepicker').datepicker();
    });
  </script>

<% end %>

