<!DOCTYPE html>
<html>
<head>
  <title>iKumo</title>
  <!-- Latest compiled and minified CSS -->

    <%= stylesheet_link_tag "bootstrap.min.css" %>
    <%= stylesheet_link_tag "font-awesome.min.css" %>
    <%= stylesheet_link_tag "material-wfont.min.css"%>
    <%= stylesheet_link_tag "material.min.css" %>
    <%= stylesheet_link_tag "ripples.min.css" %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
</head>
<body ng-app="iKumo">

  <%= render 'layouts/navbar' %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <%= yield %>
      </div>
    </div>
</div>

  <!-- Latest compiled and minified JavaScript -->
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "bootstrap.min.js" %>
  <%= javascript_include_tag "material.min.js" %>
  <%= javascript_include_tag "ripples.min.js" %>

  <%= yield :js_after %>
</body>
</html>
